body {
    margin: 0;
    overflow: visible;
}

.container {
    width: 855px;
    height: 977px;
    background-image: url(./plane.svg);
    position: relative;
    margin: auto;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
}

#myImg img {
  height: 250px;
  max-width: 230px;
}
.box {
  display: flex;
}

a {
  padding: 10px;
}

.col-sm {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.strikes {
    fill: rgba(255, 166, 0, 0.40);
}

.damages {
    fill: rgba(255, 0, 0, 0.40);
}

.bar {
    fill: #720570;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    top: 30px;
    right: 30px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 228, 23);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #084476;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #084476;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  div.tooltip {
    position: absolute;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 5px;
  }

  .tooltip-text {
    font-weight: 400;
  }

  .background-fill {
    position: absolute;
    z-index: -9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #bde1ff8d;
    
  }
  .bg-img {
    position: absolute;
    z-index: -9998;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100% auto;
  }

  .graph {
    width: 400px;
    height: 200px;
    background-image: url(./images/flightstages.png);
    background-size: contain;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  